h1{
  padding-left: 1.5rem;
  padding-top: 1.5rem;
  color: #333A56;
}

h2  {
  color: #E8E8E8;
}

h3  {
  color: #E8E8E8;
}

label {
  color: #E8E8E8;
}

li {
  color: #E8E8E8;
}

.info {
  color: #D89D00;

}

p {
  color: #E8E8E8;
}

.page {
  height: 100vh;
}

.flex-container {
  display: flex;
}

.main-content {
  flex: 1 1 85%;
  padding: 15px;
  min-height: max-content;
}

.width {
  max-width: 50%;
}

.form-control {
  max-width: 50%;
}

.sidebar {
  flex: 1 1 15%;
  text-align: right;
  padding: 20px;
}

.card {
  width: 18rem;
}

.card-container {
  position: relative;
  text-align: center;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

img {
  width: 100%;
  height: 15vw;
  object-fit: cover;
}

.card-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.links {
  display: none;
}

.card:hover {
  filter: blur(8px);
  cursor: pointer
}

.card:hover + .links {
  display: block;
  color: black;
}

.card-body:hover {
  display: block;
  color: #4287f5;
}

footer {
  display: flex;
  justify-content: center;
}

header {
  background: #F7F5E6;
  height: 100px;
}

.bottom {
  position: absolute;
  bottom: 0px;
}

.nav {
  justify-content: flex-end;
  background: #F7F5E6;
}

.page {
  background: #52658F;
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
  background: #52658F;
}
@media screen and (max-width: 426px) {
  .card {
    width: 5rem;
  }

  .card-title {
    font-size: .3rem;
  }

  .form-control {
    max-width: 100%;
  }

  .card-link {
    font-size: .3rem;
  }

  .centered {
    display: flex;
    display: inline-flex;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

@media screen and (max-width: 321px) {
  .card {
    width: 5rem;
  }

  .card-title {
    font-size: .3rem;
  }

  .card-link {
    font-size: .3rem;
  }

  .centered {
    display: flex;
    display: inline-flex;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}